<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="..\static\home.css">
</head>
<body>
    <div class="container">
        <h2>EcoHome</h2>

        <div class="enter-page">
            <a href="login">Iniciar sesión</a>
            <a href="register">Crear una cuenta</a>
        </div>

        <div class="container_textButton">
            <p>¡Mejora tu consumo de energía ahora!</p>
            <a href="login">EMPIEZA YA</a>
        </div>

        <div class="image">
            <img src="./assets/imageHome.svg" alt="Ilustración sobre la energía">
            <p>Imagen de <a href="https://storyset.com/idea">Storyset</a></p>
        </div>
    </div>
</body>
</html>
