<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cuenta</title>
    <link rel="stylesheet" href="..\static\register.css">
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h2>Crear cuenta</h2>
            <p>Regístrate para continuar</p>
            <form action="/login/" method="post">
                {% csrf_token %}
                <input type="text" placeholder="Nombre" required>
                <input type="text" placeholder="Apellido" required>
                <input type="text" placeholder="Usuario" required>
                <input type="password" placeholder="Contraseña" required>
                <button type="submit">Registrarse</button>
            </form>
            <p class="login-text">¿Ya tienes una cuenta? <a href="login">Iniciar sesión</a></p>
        </div>
    </div>
</body>
</html>
